@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-weight: 500;
}

svg {
    display: inline;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    width: 100%;
}

.background {
    background-image: url(https://res.cloudinary.com/hilnmyskv/image/upload/v1630315356/ui-library/hero/curves.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}